# Airplane crash investigation analysis

* Description
* Dataset
* Goal
* Imports
* Data Exploration

## Description

NOTE: This dataset was taken from kaggle - 
https://www.kaggle.com/saurograndi/airplane-crashes-since-1908

## Dataset

Analysis of the public dataset: "Airplane Crashes and Fatalities Since 1908" (Full history of airplane crashes throughout the world, from 1908-present) hosted by Open Data by Socrata available at:

https://opendata.socrata.com/Government/Airplane-Crashes-and-Fatalities-Since-1908/q2te-8cvq

## Goal

We will try to answer these questions through the analysis - 

1) How many planes crashed yearly? 

2) How many people were on board? how many survived? how many died?

3) Highest number of crashes by operator and Type of aircrafts.

4) ‘Summary’ field has the details about the crashes. Find the reasons of the crash and categorize them in different clusters i.e Fire, shot down, weather (for the ‘Blanks’ in the data category can be UNKNOWN) you are open to make clusters of your choice but they should not exceed 7.

5) Find the number of crashed aircrafts and number of deaths against each category from above step.

6) Find any interesting trends/behaviors that you encounter when you analyze the dataset.

## Imports

In [1]:
import warnings
warnings.filterwarnings("ignore", category=UserWarning)

In [2]:
from __future__ import division
import numpy as np
import pandas as pd
pd.options.mode.chained_assignment = None
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## Data Exploration

Reading the data into a dataframe

In [4]:
crash = pd.read_csv("Airplane_Crashes_and_Fatalities_Since_1908.csv",low_memory=False)
crash.head()

,Date,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
0,09/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2,1,0,"During a demonstration flight, a U.S. Army fly..."
1,07/12/1912,06:30,"AtlantiCity, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5,5,0,First U.S. dirigible Akron exploded just offsh...
2,08/06/1913,NaN,"Victoria, British Columbia, Canada",Private,-,NaN,Curtiss seaplane,NaN,NaN,1,1,0,The first fatal airplane accident in Canada oc...
3,09/09/1913,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20,14,0,The airship flew into a thunderstorm and encou...
4,10/17/1913,10:30,"Near Johannisthal, Germany",Military - German Navy,NaN,NaN,Zeppelin L-2 (airship),NaN,NaN,30,30,0,Hydrogen gas which was being vented was sucked...

Checking the datatypes of all the columns in the dataframe

In [5]:
crash.dtypes

Date             object
Time             object
Location         object
Operator         object
Flight #         object
Route            object
Type             object
Registration     object
cn/In            object
Aboard          float64
Fatalities      float64
Ground          float64
Summary          object
dtype: object

Checking each column to see how much percentage of each column has null values in it. This is to determine which columns would be more significant for analysis.

In [6]:
ind = []
val = []
for col in crash.columns:
    ind.append(col + " % null : ")
    try: 
        value = (pd.isnull(crash[col]).value_counts()[True]/crash.shape[0])*100
    except:
        value = 0
    val.append(round(value,3))
    
null_table = pd.Series(val,index=ind)
null_table.sort_values()

Date % null :              0.000
Fatalities % null :        0.228
Operator % null :          0.342
Location % null :          0.380
Aboard % null :            0.418
Ground % null :            0.418
Type % null :              0.513
Registration % null :      6.359
Summary % null :           7.403
cn/In % null :            23.311
Route % null :            32.384
Time % null :             42.122
Flight # % null :         79.708
dtype: float64

Checking summary statistics to understand the numerical columns of the dataframe

In [7]:
crash.describe()

            Aboard   Fatalities       Ground
count  5246.000000  5256.000000  5246.000000
mean     27.554518    20.068303     1.608845
std      43.076711    33.199952    53.987827
min       0.000000     0.000000     0.000000
25%       5.000000     3.000000     0.000000
50%      13.000000     9.000000     0.000000
75%      30.000000    23.000000     0.000000
max     644.000000   583.000000  2750.000000

Note: I was not able to find out what the column "ground" stands for. Will continue looking but for now, I am excluding that from this analysis

### Cleaning the data

In [8]:
crash["Date"] = pd.to_datetime(crash["Date"])

In [14]:
crash["Date"][0]

Timestamp('1908-09-17 00:00:00')